.Product {
  color: black;
  font-size: 1.5em;
  vertical-align: middle;
}
button {
  background-color: crimson;
  color: white;
  font-size: 80%;
  border-radius: 10px;
}
.btn {
  text-align: right;
}
