.ProductList {
	border: solid 5px darkmagenta;
	background-color: burlywood;
	padding: 1em 0 2em 0;
	margin: 1em auto auto;
	border-radius: 10px;
	width: 40em;
}
ul {
	padding-left: 0px;
}
.ProductList h1 {
	text-align: center;
}
.ProductList hr {
	border: solid 1px darkmagenta;
}
