.student {
  background-color: antiquewhite;
  border-radius: 20px;
  border: solid 2px darkred;
  font-family: 'Bungee Spice', sans-serif;
font-family: 'Rubik Burned', system-ui;
font-family: 'Rubik Maps', system-ui;}
